
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header-div{
    display: flex;
    width: 100%;
    justify-content: center;
    .aty{
        width: 10%;
        height: auto;
        margin: auto;
    }
    @media (max-width:800px) {
        .aty{
            width: 25%;
        }
    }
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
    justify-content: center;
    margin-top: 30px;
    .timerBlock{
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        .timerP{
            font-size: 17px;
            margin-left: 5px;
        }
    }
    .grid-block{
        display: flex;
        margin-top: 15px;
        overflow: auto;
        .grid{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            border-radius: 3px;
            cursor: pointer;
            padding: 8px 11px 8px 11px;
            background-color: lightblue;
            border: 2px solid gainsboro;
        }
    }
    .main{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        font-weight: bold;
        background-color:white;
        
        
        ol{
            margin-top: 15px;
            margin-left: 21px;
            li{
                position: relative;
                font-weight: lighter;
                font-size: 20px;
                cursor:pointer;
                color:#1A76CB;
                margin-bottom:20px;
                
            }
            li::marker{
                color: black;
                
            }
            @media (max-width:800px) {
                li{
                    font-size: 15px;
                }
            }
        }
        h3{
            all: unset;
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 700;
        }
        img{
            width: 100%;
            
        }
        .pDiv{
            border-bottom: 1px solid gray;
            margin-top: 15px;
            p{
                margin-bottom: 10px;
                font-size: 20px;
                font-weight:700;
            }
            @media (max-width:800px) {
                p{
                    font-size:15px;
                }
            }
        }
        .divButtons{
            display: flex;
            width: 100%;
            justify-content: space-around;
            margin-bottom: 20px;
            button{
                all: unset;
                cursor:pointer;
                color:rgb(0, 0, 0);
                font-size: 18px;
                font-weight: lighter;
            }
            @media (max-width:800px) {
                button{
                    font-size:15px;
                }
            }
        }
        
    }
}
