
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.header-div{
    display: flex;
    width: 100%;
    justify-content: center;
    .aty{
        width: 10%;
        height: auto;
        margin: auto;
    }
    @media (max-width:800px) {
        .aty{
            width: 25%;
        }
    }
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
    justify-content: center;
    .timerBlock{
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px 10px 0px 7px;
        .timerP{
            font-size: 17px;
            margin-left: 5px;
        }
    }
    .timerBlockEnd{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .examInvalid{
            color:red;
            font-size: 30px;
            margin-top: 10px;
        }
        p{
            font-weight: 200;
            font-size: 16px;
        }
        h3{
            margin-top: 10px;
        }
    }
    .grid-block{
        display: flex;
        overflow: auto;
        .grid{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            border-radius: 3px;
            cursor: pointer;
            padding: 8px 11px 8px 11px;
            background-color: lightgray;
        }
    }
    .main{
        position: relative;
        display: flex;
        width: 100%;
        height: 670px;
        justify-content: center;
        flex-direction: column;
        font-weight: bold;
        background-color:pink;
        padding: 0px 10px 0px 10px;
        .divImagesBlock{
           display: flex;
           justify-content: center;
           width: 90%;
           margin: auto;
        }
        img{
            position: absolute;
            width: 98%;
        }
        .divBlockHtml{
            float:left;
            margin-top:370px;
            
        }
        @media (max-width:980px){
            .divBlockHtml{ 
                margin-top:350px;
            }
        }
        @media (max-width:920px){
            .divBlockHtml{ 
                margin-top:330px;
            }
        }
        @media (max-width:840px){
            .divBlockHtml{ 
                margin-top:300px;
            }
        }
        @media (max-width:780px){
            .divBlockHtml{ 
                margin-top:280px;
            }
        }
        @media (max-width:730px){
            .divBlockHtml{ 
                margin-top:260px;
            }
        }
        @media (max-width:650px){
            .divBlockHtml{ 
                margin-top:230px;
            }
        }
        @media (max-width:650px){
            .divBlockHtml{ 
                margin-top:230px;
            }
        }
        @media (max-width:580px){
            .divBlockHtml{ 
                margin-top:210px;
            }
        }
        @media (max-width:510px){
            .divBlockHtml{ 
                margin-top:180px;
            }
        }
        @media (max-width:460px){
            .divBlockHtml{ 
                margin-top:160px;
            }
        }
        @media (max-width:410px){
            .divBlockHtml{ 
                margin-top:140px;
            }
        }
        @media (max-width:410px){
            .divBlockHtml{ 
                margin-top:140px;
            }
        }
        @media (max-width:370px){
            .divBlockHtml{ 
                margin-top:130px;
            }
        }
        @media (max-width:340px){
            .divBlockHtml{ 
                margin-top:120px;
            }
        }
        .divBlockHtmlStatistic{
            margin-top: 10px;
        }
        ol{
            margin-top: 15px;
            margin-left: 21px;
            li{
                position: relative;
                font-weight: lighter;
                font-size: 20px;
                cursor:pointer;
                color:#1A76CB;
                margin-bottom:20px;   
            }
            li::marker{
                color: black;
                
            }
            @media (max-width:800px) {
                li{
                    font-size: 15px;
                }
            }
        }
        h3{
            all: unset;
            font-size: 20px;
            margin-top: 10px;
            font-weight: 700;
        }
        
        .pDiv{
            border-bottom: 1px solid gray;
            margin-top: 15px;
            p{
                margin-bottom: 10px;
                font-size: 20px;
                font-weight:700;
            }
            @media (max-width:800px) {
                p{
                    font-size:15px;
                }
            }
        }
        .divButtons{
            display: flex;
            margin: auto;
            width: 100%;
            justify-content: space-around;
            margin-bottom: 20px;
            button{
                all: unset;
                cursor:pointer;
                color:rgb(255, 115, 0);
                font-size: 16px;
                font-weight: 200;
            }
            @media (max-width:800px) {
                button{
                    font-size:15px;
                }
            }
        }
        
    }
    
}
