* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}
body .block-all-elements {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-color: black;
  z-index: 9;
}

.h2-block {
  display: flex;
  max-width: 1025px;
  margin: auto;
}
.h2-block .h2-ticket {
  display: flex;
  padding: 7px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #e7eaf2;
  border-radius: 12px 12px 0 0;
  width: 500px;
  margin: auto;
  font-weight: 200;
  justify-content: center;
  align-items: center;
  color: black;
}

.ticket-items-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: whitesmoke;
  max-width: 500px;
  margin: auto;
  padding: 5px;
  padding-bottom: 20px;
  border-radius: 0 0 12px 12px;
}
.ticket-items-block .ticket-items-html {
  margin: auto;
  width: 75%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #0000FF;
  color: white;
  padding: 15px 15px 15px 15px;
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 10px;
}
.ticket-items-block .ticket-items-html:first-child {
  margin-top: 10;
}
.ticket-items-block .ticket-items-html:hover {
  background-color: #8B00FF;
}

.exam-btn-block {
  display: flex;
  max-width: 500px;
  justify-content: center;
  margin: auto;
  margin-top: 5px;
}
.exam-btn-block .exam-btn {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px;
  background-color: #3e5291;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.exam-btn-block .exam-btn:hover {
  background-color: #28be55;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
  justify-content: center;
}
.container .imgScrollUp {
  position: fixed;
  visibility: hidden;
  width: 55px;
  height: 55px;
  z-index: 99;
  cursor: pointer;
  bottom: 15px;
  margin-left: 30px;
}
.container .count-question_block {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 12px 0 12px;
}
.container .timerBlock {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 10px 0px 7px;
}
.container .timerBlock .timerP {
  font-size: 17px;
  margin-left: 5px;
}
.container .timerBlockEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .timerBlockEnd .examInvalid {
  color: red;
  font-size: 30px;
  margin-top: 10px;
}
.container .timerBlockEnd p {
  font-weight: 200;
  font-size: 16px;
}
.container .timerBlockEnd h3 {
  margin-top: 10px;
}
.container .grid-block {
  display: flex;
  width: 99%;
}
.container .grid-block .grid {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px 11px 8px 11px;
  background-color: lightgray;
}
.container .main {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
}
.container .main .complete-block {
  z-index: 10;
  position: absolute;
  padding-top: 40px;
  margin: auto;
  width: 470px;
  height: 220px;
  top: 0;
  left: 0;
  bottom: 1;
  right: 0;
  background-color: white;
  border-radius: 7px;
  align-items: flex-end;
  animation-duration: 0.7s;
  animation-name: complete-block-animation;
}
@keyframes complete-block-animation {
  from {
    width: 400px;
    height: 180px;
  }
  to {
    width: 470px;
    height: 220px;
  }
}
.container .main .complete-block h3 {
  margin: auto;
  margin-left: 110px;
}
.container .main .complete-block .complete-btn-block {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.container .main .complete-block .complete-btn-block button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 160px;
  height: 30px;
  background-color: rgb(191, 196, 196);
  cursor: pointer;
}
.container .main .complete-block .complete-btn-block .btn-yes {
  background-color: green;
  color: white;
}
.container .main .complete-block .complete-btn-block .btn-no {
  background-color: black;
  color: white;
}
.container .main .divImagesBlock {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}
.container .main img {
  position: absolute;
  width: 98%;
}
.container .main .divBlockHtml {
  margin-top: 390px;
}
.container .main .divBlockHtml .img-close-block {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}
.container .main .divBlockHtmlStatistic {
  margin-top: 20px;
  background-color: #F5F5F5;
  padding: 15px;
}
.container .main .divBlockHtmlStatistic img {
  position: relative;
  margin-top: 5px;
}
.container .main .divBlockHtmlStatistic ol {
  height: auto;
}
.container .main .divBlockHtmlStatistic ol li {
  color: black;
}
.container .main .divBlockHtmlStatistic .pDiv {
  height: auto;
  margin-top: 10px;
}
.container .main .divBlockHtmlStatistic .helpBlock {
  font-weight: 100;
}
.container .main .divBlockHtmlStatistic .helpBlock h4 {
  font-size: 14px;
}
.container .main .divBlockHtmlStatistic .helpBlock p {
  font-size: 14px;
}
.container .main ol {
  margin-top: 15px;
  margin-left: 21px;
  height: 280px;
}
.container .main ol li {
  position: relative;
  font-weight: lighter;
  font-size: 20px;
  cursor: pointer;
  color: #1A76CB;
  margin-bottom: 20px;
}
.container .main ol li::marker {
  color: black;
}
.container .main ol li:hover {
  color: blue;
}
@media (max-width: 800px) {
  .container .main ol li {
    font-size: 15px;
  }
  .container .main ol li:hover {
    color: #1A76CB;
  }
}
.container .main h3 {
  all: unset;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 700;
}
.container .main .pDiv {
  border-bottom: 1px solid gray;
  height: 50px;
}
.container .main .pDiv p {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 800px) {
  .container .main .pDiv p {
    font-size: 15px;
  }
}
.container .main .divButtons {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 20px;
}
.container .main .divButtons button {
  all: unset;
  cursor: pointer;
  color: rgb(255, 115, 0);
  font-size: 16px;
  font-weight: 200;
}
@media (max-width: 800px) {
  .container .main .divButtons button {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  .container .main .complete-block {
    width: 350px;
    height: 140px;
    padding-top: 20px;
  }
  .container .main .complete-block h3 {
    margin-top: 40px;
    margin-left: 50px;
  }
  .container .main .complete-block .complete-btn-block {
    margin-top: 40px;
  }
  .container .main .complete-block .complete-btn-block button {
    width: 120px;
    height: 30px;
  }
  @keyframes complete-block-animation {
    from {
      width: 350px;
      height: 140px;
    }
    to {
      width: 350px;
      height: 140px;
    }
  }
}
@media (max-width: 400px) {
  .container .main .divBlockHtml {
    margin-top: 370px;
  }
  .container .main ol {
    height: auto;
  }
}
@media (max-width: 980px) {
  .container .main .divBlockHtml {
    margin-top: 370px;
  }
}
@media (max-width: 920px) {
  .container .main .divBlockHtml {
    margin-top: 340px;
  }
}
@media (max-width: 840px) {
  .container .main .divBlockHtml {
    margin-top: 320px;
  }
}
@media (max-width: 800px) {
  .container .main .divBlockHtml {
    margin-top: 320px;
  }
}
@media (max-width: 780px) {
  .container .main .divBlockHtml {
    margin-top: 290px;
  }
}
@media (max-width: 730px) {
  .container .main .divBlockHtml {
    margin-top: 280px;
  }
}
@media (max-width: 700px) {
  .container .main .divBlockHtml {
    margin-top: 260px;
  }
}
@media (max-width: 650px) {
  .container .main .divBlockHtml {
    margin-top: 240px;
  }
}
@media (max-width: 580px) {
  .container .main .divBlockHtml {
    margin-top: 220px;
  }
}
@media (max-width: 535px) {
  .container .main .divBlockHtml {
    margin-top: 200px;
  }
}
@media (max-width: 510px) {
  .container .main .divBlockHtml {
    margin-top: 190px;
  }
  .container .main .pDiv {
    height: auto;
  }
}
@media (max-width: 460px) {
  .container .main .divBlockHtml {
    margin-top: 170px;
  }
}
@media (max-width: 410px) {
  .container .main .divBlockHtml {
    margin-top: 160px;
  }
}
@media (max-width: 370px) {
  .container .main .divBlockHtml {
    margin-top: 140px;
  }
}
@media (max-width: 340px) {
  .container .main .divBlockHtml {
    margin-top: 120px;
  }
}
@media (max-width: 1023px) {
  .container .grid-block {
    overflow: scroll;
  }
}/*# sourceMappingURL=style.css.map */