* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.h3_and_ticket-items-block {
  margin: auto;
  max-width: 1024px;
  text-align: center;
  margin-top: 200px;
}
.h3_and_ticket-items-block h3 {
  color: #0206f5;
  margin-bottom: 6px;
}
.h3_and_ticket-items-block .ticket-items-block {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.h3_and_ticket-items-block .ticket-items-block .ticket-items-html {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(37, 201, 64);
  padding: 8px 11px 8px 11px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: auto;
  justify-content: center;
}
.container .timerBlock {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 10px 0px 7px;
}
.container .timerBlock .timerP {
  font-size: 17px;
  margin-left: 5px;
}
.container .timerBlockEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .timerBlockEnd .examInvalid {
  color: red;
  font-size: 30px;
  margin-top: 10px;
}
.container .timerBlockEnd p {
  font-weight: 200;
  font-size: 16px;
}
.container .timerBlockEnd h3 {
  margin-top: 10px;
}
.container .grid-block {
  display: flex;
  overflow: auto;
}
.container .grid-block .grid {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px 11px 8px 11px;
  background-color: lightgray;
}
.container .main {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  padding: 0px 10px 0px 10px;
}
.container .main .divImagesBlock {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
}
.container .main img {
  position: absolute;
  width: 98%;
}
.container .main .divBlockHtml {
  margin-top: 390px;
}
.container .main .divBlockHtmlStatistic {
  margin-top: 20px;
  background-color: #F5F5F5;
  padding: 15px;
}
.container .main .divBlockHtmlStatistic img {
  position: relative;
  margin-top: 5px;
}
.container .main .divBlockHtmlStatistic ol {
  height: auto;
}
.container .main .divBlockHtmlStatistic .pDiv {
  height: auto;
  margin-top: 10px;
}
.container .main ol {
  margin-top: 15px;
  margin-left: 21px;
  height: 280px;
}
.container .main ol li {
  position: relative;
  font-weight: lighter;
  font-size: 20px;
  cursor: pointer;
  color: #1A76CB;
  margin-bottom: 20px;
}
.container .main ol li::marker {
  color: black;
}
@media (max-width: 800px) {
  .container .main ol li {
    font-size: 15px;
  }
}
.container .main h3 {
  all: unset;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 700;
}
.container .main .pDiv {
  border-bottom: 1px solid gray;
  height: 50px;
}
.container .main .pDiv p {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
@media (max-width: 800px) {
  .container .main .pDiv p {
    font-size: 15px;
  }
}
.container .main .divButtons {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 20px;
}
.container .main .divButtons button {
  all: unset;
  cursor: pointer;
  color: rgb(255, 115, 0);
  font-size: 16px;
  font-weight: 200;
}
@media (max-width: 800px) {
  .container .main .divButtons button {
    font-size: 15px;
  }
}
@media (max-width: 1010px) {
  .container .main .divBlockHtml {
    margin-top: 370px;
  }
  .container .main ol {
    height: auto;
  }
}
@media (max-width: 980px) {
  .container .main .divBlockHtml {
    margin-top: 370px;
  }
}
@media (max-width: 920px) {
  .container .main .divBlockHtml {
    margin-top: 340px;
  }
}
@media (max-width: 840px) {
  .container .main .divBlockHtml {
    margin-top: 320px;
  }
}
@media (max-width: 800px) {
  .container .main .divBlockHtml {
    margin-top: 320px;
  }
}
@media (max-width: 780px) {
  .container .main .divBlockHtml {
    margin-top: 290px;
  }
}
@media (max-width: 730px) {
  .container .main .divBlockHtml {
    margin-top: 280px;
  }
}
@media (max-width: 700px) {
  .container .main .divBlockHtml {
    margin-top: 260px;
  }
}
@media (max-width: 650px) {
  .container .main .divBlockHtml {
    margin-top: 240px;
  }
}
@media (max-width: 580px) {
  .container .main .divBlockHtml {
    margin-top: 220px;
  }
}
@media (max-width: 535px) {
  .container .main .divBlockHtml {
    margin-top: 200px;
  }
}
@media (max-width: 510px) {
  .container .main .divBlockHtml {
    margin-top: 190px;
  }
  .container .main .pDiv {
    height: auto;
  }
}
@media (max-width: 460px) {
  .container .main .divBlockHtml {
    margin-top: 170px;
  }
}
@media (max-width: 410px) {
  .container .main .divBlockHtml {
    margin-top: 160px;
  }
}
@media (max-width: 370px) {
  .container .main .divBlockHtml {
    margin-top: 140px;
  }
}
@media (max-width: 340px) {
  .container .main .divBlockHtml {
    margin-top: 120px;
  }
}/*# sourceMappingURL=style.css.map */