
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    position: relative;
    .block-all-elements{
        position: absolute;
        width: 100%;
        
        height: 100%;
        top:0;
        left:0;
        opacity: 0.5;
        background-color:lightgray;
        z-index: 9;
    }
    
}   

    .h2-block{
        display: flex;
        max-width: 1025px;
        margin: auto;
        .h2-ticket{
            display: flex;   
            padding: 7px;
            padding-top:15px ;
            padding-bottom:15px ;
            background-color: #00BFFF;
            border-radius:12px 12px 0 0;
            width: 500px;
            margin: auto;
            margin-top: 50px;
            font-weight: 200; 
            justify-content: center;
            align-items: center; 
            color:black;
        }
    }
    .ticket-items-block{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: whitesmoke;
        max-width: 500px;
        margin: auto;
        padding: 5px;    
        padding-bottom: 20px;   
        border-radius:0 0 12px 12px; 
        .ticket-items-html{
            margin: auto;
            width: 75%;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background-color: #0000FF;
            color:white;
            padding: 15px 15px 15px 15px;
            border: 1px solid black;
            border-radius: 8px;
            margin-top: 10px;
        }
        .ticket-items-html:first-child{
            margin-top: 10;
        }
        .ticket-items-html:hover{
            background-color: #8B00FF;
        }
    }
    .exam-btn-block{
        display: flex;
        max-width: 500px;
        justify-content: center;
        margin: auto;
        margin-top: 5px;
        .exam-btn{
            all: unset;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 500px;
            height: 50px;
            background-color: #33a555;
            border-radius: 10px;
            cursor: pointer;
            color:white
        }
        .exam-btn:hover{
            background-color: #28be55;
        }
    }
    
.container{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
    justify-content: center;
    .imgScrollUp{
        position: fixed;
        visibility: hidden;
        width: 55px;
        height: 55px;
        z-index: 99;
        cursor: pointer;
        top:820px;
        margin-left: 30px;
    }
    .count-question_block{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 12px 0 12px;
    }
    .timerBlock{
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px 10px 0px 7px;
        .timerP{
            font-size: 17px;
            margin-left: 5px;
        }
    }
    .timerBlockEnd{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .examInvalid{
            color:red;
            font-size: 30px;
            margin-top: 10px;
        }
        p{
            font-weight: 200;
            font-size: 16px;
        }
        h3{
            margin-top: 10px;
        }
    }
    .grid-block{
        display: flex;
        width: 99%;
        .grid{
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            border-radius: 3px;
            cursor: pointer;
            padding: 8px 11px 8px 11px;
            background-color: lightgray;
        }
    }
    .main{
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        font-weight: bold;
        padding: 0px 10px 0px 10px;
        .complete-block{
            z-index: 10;
            position: absolute;
            padding-top:40px ;
            margin: auto;
            width: 470px;
            height: 220px;
            top: 0; left: 0; bottom: 1; right: 0;
            background-color: #f5f3f3;
            border-radius: 7px;
            align-items: flex-end;
            animation-duration: 0.7s;
            animation-name: complete-block-animation;
            @keyframes complete-block-animation {
                from {
                  width: 400px;
                  height: 180px;
                }
                to {
                  width: 470px;
                  height: 220px; 
                }
              }
            h3{
                margin: auto;
                margin-left: 110px
            }
            .complete-btn-block{
                display: flex;
                justify-content: space-around;
                margin-top: 80px;
                button{
                    width: 160px;
                    height: 30px;
                    background-color: rgb(191, 196, 196);
                    cursor: pointer;
                }
                .btn-yes{
                    background-color: green;
                    color: white;
                }
                .btn-no{
                    background-color: rgb(128, 4, 0);
                    color: white;
                }
            }
        }
        
        
        .divImagesBlock{
           display: flex;
           justify-content: center;
           width: 90%;
           margin: auto;
        }
        img{
            position: absolute;
            width: 98%;
        }
        .divBlockHtml{
            margin-top:390px;
            .img-close-block{
                display: flex;
                justify-content: end;
                margin-bottom: 30px;
            }
        }
        .divBlockHtmlStatistic{
            margin-top: 20px;
            background-color: #F5F5F5;
            padding: 15px;
            
            img{
                position: relative;
                margin-top: 5px;
            }
            ol{
                height: auto;
                li{
                    color: black;
                }
            }
            .pDiv{
                height: auto;
                margin-top: 10px;
            }
            .helpBlock{
                font-weight: 100;
                h4{
                    font-size: 14px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        ol{
            margin-top: 15px;
            margin-left: 21px;
            height: 280px;
            li{
                position: relative;
                font-weight: lighter;
                font-size: 20px;
                cursor:pointer;
                color:#1A76CB;
                margin-bottom:20px;   
            }
            li::marker{
                color: black;
            }
            li:hover{
                color:blue
            }
            @media (max-width:800px) {
                li{
                    font-size: 15px;
                }
                li:hover{
                    color:#1A76CB
                }
            }
        }
        h3{
            all: unset;
            font-size: 20px;
            margin-top: 10px;
            font-weight: 700;
        }
        
        .pDiv{
            border-bottom: 1px solid gray;
            height: 50px;
            p{
                margin-bottom: 10px;
                font-size: 20px;
                font-weight:700;
            }
            @media (max-width:800px) {
                p{
                    font-size:15px;
                }
            }
        }
        .divButtons{
            display: flex;
            margin: auto;
            width: 100%;
            justify-content: space-around;
            margin-bottom: 20px;
            button{
                all: unset;
                cursor:pointer;
                color:rgb(255, 115, 0);
                font-size: 16px;
                font-weight: 200;
            }
            @media (max-width:800px) {
                button{
                    font-size:15px;
                }
            }
        }
        @media(max-width:600px){
            .complete-block{
                width: 350px;
                height: 140px;
                padding-top: 20px;
                h3{
                    margin-top: 40px;
                    margin-left: 50px;
                }
                .complete-btn-block{
                    margin-top: 40px;
                    button{
                        width: 120px;
                        height: 30px;
                    }
                }
                @keyframes complete-block-animation {
                    from {
                      width: 350px;
                      height: 140px;
                    }
                    to {
                      width: 350px;
                      height: 140px;
                    }
                  }
            }
        }
        @media (max-width:400px){
            .divBlockHtml{ 
                margin-top:370px;
            }
            ol{
                height: auto;
            }
        }
        @media (max-width:980px){
            .divBlockHtml{ 
                margin-top:370px;
            }
        }
        @media (max-width:920px){
            .divBlockHtml{ 
                margin-top:340px;
            }
        }
        @media (max-width:840px){
            .divBlockHtml{ 
                margin-top:320px;
            }
        }
        @media (max-width:800px){
            .divBlockHtml{ 
                margin-top:320px;
            }
        }
        @media (max-width:780px){
            .divBlockHtml{ 
                margin-top:290px;
            }
        }
        @media (max-width:730px){
            .divBlockHtml{ 
                margin-top:280px;
            }
        }
        @media (max-width:700px){
            .divBlockHtml{ 
                margin-top:260px;
            }
        }
        @media (max-width:650px){
            .divBlockHtml{ 
                margin-top:240px;
            }
        }
        @media (max-width:580px){
            .divBlockHtml{ 
                margin-top:220px;
            }
        }
        @media (max-width:535px){
            .divBlockHtml{ 
                margin-top:200px;
            }
        }
        @media (max-width:510px){
            .divBlockHtml{ 
                margin-top:190px;
            }
            .pDiv{
                height: auto;
            }
        }
        @media (max-width:460px){
            .divBlockHtml{ 
                margin-top:170px;
            }
        }
        @media (max-width:410px){
            .divBlockHtml{ 
                margin-top:160px;
            }
        }
        @media (max-width:370px){
            .divBlockHtml{ 
                margin-top:140px;
            }
        }
        @media (max-width:340px){
            .divBlockHtml{ 
                margin-top:120px;
            }
        }
        
    }
    @media(max-width:1023px){
        .grid-block{
            overflow: scroll;
        }
    }
    
}
